@model ShoesASP.Models.Shoe


@{
    ViewData["Title"] = "Eliminar zapato";
}

<h1>Eliminar Zapatilla</h1>

<h3>
    ¿Esta seguro que desea eliminar?
</h3>
<di>
    <h4>Shoes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">

            @Html.DisplayFor(model => model.Name);
            
        </dt>
        @* <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Brand.Name);

        </dd> *@

    </dl>

    <form asp-action="DeleteConfirmed" method="post">

        <input value="@Model.ShoesId" name="id" id="id" type="hidden" asp-for="ShoesId"/>
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>


</di>
